@font-face {
    font-family: 'Gilroy';
    src: url('../assets/fonts/Gilroy-Regular.eot');
    src: url('../assets/fonts/Gilroy-Regular.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/Gilroy-Regular.woff') format('woff'),
    url('../assets/fonts/Gilroy-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Gilroy';
    src: url('../assets/fonts/Gilroy-Bold.eot');
    src: url('../assets/fonts/Gilroy-Bold.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/Gilroy-Bold.woff') format('woff'),
    url('../assets/fonts/Gilroy-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Gilroy';
    src: url('../assets/fonts/Gilroy-Heavy.eot');
    src: url('../assets/fonts/Gilroy-Heavy.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/Gilroy-Heavy.woff') format('woff'),
    url('../assets/fonts/Gilroy-Heavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}
@mixin mask-contain-center {
    mask-repeat: no-repeat !important;
    -webkit-mask-repeat: no-repeat !important;
    mask-position: center center !important;
    -webkit-mask-position: center center !important;
    mask-size: contain !important;
    -webkit-mask-size: contain !important;
  }

body {
    font-family: 'Gilroy';
    font-weight: 400;
    margin: 0;
    font-size: 32px;
    color: #000;
}

*, *::after, *::before {
    box-sizing: border-box;
}

.container {
    max-width: 1200px;
    width: 100%;
    padding: 0 20px;
    margin: 0 auto;
}

.header {
    background: #000;
    padding: 15px 0;
    &__inner {
        display: flex;
        justify-content: flex-end;
    }
}

.burger {
    position: relative;
    margin-right: auto;
    display: none;
    @media (max-width:960px) {
        display: block;
    }
    &__btn{
        width: 25px;
        height: 25px;
        background: #fff;
        mask: url(../assets/img/menu.svg);
        cursor: pointer;
        outline: none;
        border: none;
        @include mask-contain-center;
    }
    &__list {
        background: rgba(#000, .7);
        position: absolute;
        top: calc(100% + 10px);
        left: 0;
        display: none;
        width: calc(320px - 20px);
        padding: 20px;
        border-radius: 5px;
        @media (max-width:576px) {
            left: -20px;
            width: calc(100vw);
        }
    }
    &__link {
        display: block;
        font-size: 14px;
        line-height: 2;
        margin-right: 40px;
        color: #d2ae6d;
        text-decoration: none;
        text-transform: uppercase;
    }
}

.nav {
    display: flex;
    align-items: center;
    margin: 0 11% 0 0;
    @media (max-width: 992px) {
        display: none;
    }
    &__link {
        font-size: 14px;
        line-height: 2;
        margin-right: 40px;
        color: #d2ae6d;
        text-decoration: none;
        text-transform: uppercase;
        position: relative;
        &::after {
            content: "";
            position: absolute;
            display: block;
            width: 100%;
            height: 1px;
            background: #d2ae6d;
            opacity: 0;
            top: 100%;
            left: 0;
            transition: opacity .2s linear;
        }
        &:hover {
            &::after {
            opacity: 1;
            }
        }
        &--tel {
            margin: 0;
        }
    }
}

.intro {
    padding: 45px 0;
    background: url(../assets/img/intro-bg.png) center /cover no-repeat;
    &__inner {
        text-align: center;
    }
    &__logo {
        display: block;
        margin: 0 auto 5px auto;
    }
    &__title {
        font-size: 58px;
        font-weight: 900;
        color: #fff;
    }
    &__subtitle {
        font-size: 25px;
        background: #000;
        color: #fff;
        max-width: 590px;
        width: 100%;
        margin: 5px auto;
        padding: 3px 0;
    }
    &__desc {
        color: #d2ae6d;
        font-size: 18px;
    }
    &__text {
        font-family: 'Ubuntu', sans-serif;
        font-weight: 400;
        font-size: 18px;
        background: #fff;
        padding: 45px 80px;
        border: 15px solid #ddcda5;
        position: relative;
        width: 75%;
        margin: 0 auto;
        bottom: -150px;
        line-height: 30px;
        span {
            font-size: 58px;
        }
    }
}

.title {
    font-weight: 700;
    color: #000;
    line-height: 1.4;
}

.subtitle {
    font-size: 18px;
    line-height: 1.5;
    color: #000;
}

.demo {
    padding: 220px 0 125px;
    &__title {
        margin-bottom: 35px;
    }
    &__subtitle {
        margin-bottom: 80px;
    }
    &__col {
        display: flex;
        gap: 0 50px;
        margin-bottom: 100px;
    }
    &__text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 48%;
    }
    &__name {
        font-size: 30px;
        font-weight: 700;
        margin-bottom: 40px;
        &--mb {
            margin-bottom: 30px;
        }
    }
    &__desc {
        font-size: 16px;
        line-height: 1.7;
        &--mb {
            margin-bottom: 30px;
        }
    }
    &__img {
        width: 48%;
    }
    &__box {
        font-family: 'Ubuntu', sans-serif;
        font-weight: 400;
        font-size: 18px;
        background: #fff;
        padding: 45px 80px;
        border: 15px solid #ddcda5;
        width: 75%;
        margin: 0 auto;
        line-height: 30px;
        margin-bottom: 100px;
    }
    &__items {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-top: 70px;
        gap: 33px 30px;
    }
    &__item {
        display: flex;
        padding: 40px;
        background: #f0f0f0;
        align-items: flex-start;
    }
    &__item-img {
        margin-right: 35px;
    }
    &__item-text {
        font-size: 18px;
        line-height: 1.5;
    }
}

.btn {
    font-family: 'Gilroy';
    border-radius: 50px;
    min-width: 150px;
    width: 100%;
    border: 1px solid #d2ae6d;
    font-size: 16px;
    line-height: 2.4;
    cursor: pointer;
    outline: none;
    &--white {
        background: #fff;
        margin-right: 15px;
        transition: .3s linear;
        &:hover {
            background: #f0f0f0;
        }
    }
    &--brown {
        background: #e9c978;
        border: none;
        transition: .3s linear;
        &:hover {
            opacity: .5;
        }
    }
}

.works {
    padding: 75px 0 100px;
    background: #f0f0f0;
    &__title {
        margin-bottom: 30px;
    }
    &__subtitle {
        margin-bottom: 50px;
    }
    &__head {
        background: #fff;
        padding: 20px 40px;
        display: flex;
        justify-content: space-between;
    }
    &__btns {
        display: flex;
    }
    &__col {
        margin-bottom: 25px;
        &:last-child {
            margin-bottom: 0;
        }
    }
    &__cont {
        display: flex;
    }
    &__item {
        padding: 20px;
        background: #b6b6b6;
        width: 50%;
        &--brown {
            background: #ddcda5;
        }
    }
    &__img {
        max-width: 100%;
        width: 100%;
    }
    &__item-name {
        color: #fff;
        text-align: center;
        font-weight: 700;
        font-size: 24px;
        padding: 5px 0 25px;
        text-transform: uppercase;
    }
}

.wedo {
    padding: 110px 0 105px;
    background: url(../assets/img/wedo-bg.png);
    &__title {
        color: #fff;
        font-weight: 700;
        font-size: 48px;
        line-height: 1.2;
        margin-bottom: 65px;
    }
    &__cont {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 60px 60px;
    }
    &__item {
        background: transparent;
        padding: 60px;
        border: 1px solid #fff;
    }
    &__text {
        color: #fff;
        font-size: 24px;
        line-height: 1.3;
        margin-bottom: 35px;
    }
    &__btn {
        max-width: 150px;
        width: 100%;
    }
}

.portfolio {
    padding: 100px 0;
    &__title {
        font-weight: 700;
        font-size: 48px;
        line-height: 1.2;
        color: #000;
        margin-bottom: 100px;
    }
    &__cont {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 30px 30px;
    }
    &__item {
        position: relative;
        &--1 {
            grid-area: 1 / 1 / 3 / 3;
        }
        &--2 {
            grid-area: 3 / 1 / 5 / 5;
        }
        &:hover .portfolio__text {
            opacity: 1;
        }
    }
    &__text {
        position: absolute;
        bottom: 0;
        background: rgba(#000, .7);
        font-weight: 700;
        font-size: 32px;
        color: #fff;
        min-height: 25%;
        width: 100%;
        padding: 8px 0 8px 45px;
        display: flex;
        align-items: center;
        text-transform: uppercase;
        opacity: 0;
        transition: .2s linear;
        &--small {
            font-size: 24px;
            padding-left: 25px;
            padding-right: 25px;
        }
    }
    &__img {
        max-width: 100%;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.prices {
    padding-bottom: 85px;
    &__title {
        font-weight: 700;
        font-size: 48px;
        line-height: 1.2;
        color: #000;
        margin-bottom: 65px;
    }
    &__inner {
        display: flex;
        justify-content: space-between;
    }
    &__item {
        max-width: 260px;
    }
    &__text {
        font-weight: 700;
        font-size: 24px;
        line-height: 1.2;
        margin: 40px 0 15px;
        &--mb {
            margin-bottom: 40px;
        }
    }
    &__value {
        font-size: 24px;
        line-height: 1.6;
    }
    &__subtitle {
        margin: 70px 0;
    }
}

.cards {
    display: flex;
    justify-content: space-between;
    &__item {
        border: 15px solid #cccccc;
        max-width: 375px;
        padding-bottom: 35px;
    }
    &__old-price {
        font-size: 24px;
        line-height: 1.2;
        color: #000;
        text-decoration: line-through;
        text-decoration-color: #f00000;
        text-align: center;
    }
    &__price {
        font-weight: 700;
        font-size: 48px;
        text-align: center;
        line-height: 1;
    }
    &__info {
        font-size: 18px;
        line-height: 1.5;
        text-align: center;
    }
    &__name {
        background: #ddcda5;
        text-align: center;
        font-size: 24px;
        line-height: 2;
    }
    &__desc {
        font-size: 16px;
        line-height: 1.5;
        padding: 20px;
    }
    &__profit {
        padding: 0 20px;
        margin-bottom: 40px;
    }
    &__profit-item {
        display: flex;
        align-items: center;
    }
    &__profit-img {
        width: 15px;
        height: 15px;
    }
    &__profit-text {
        font-size: 18px;
        line-height: 1;
        margin: 8px 0 5px 25px;
        &--strong {
            font-weight: 700;
        }
    }
    &__btn {
        display: block;
        max-width: 296px;
        margin: 0 auto;
    }
}

.contact {
    padding: 100px 0;
    background: #f0f0f0;
    &__box {
        border-radius: 40px;
        box-shadow: 0 0 20px 0 rgba(0,0,0,0.25);
        display: flex;
        overflow: hidden;
        margin-bottom: 80px;
    }
    &__row {
        width: 50%;
        padding: 60px 65px;
        display: flex;
        align-items: center;
        background: #fff;
        &--grey {
            flex-direction: column;
            background: #efefef;
        }
    }
    &__phone {
        position: relative;
        max-width: 285px;
        width: 100%;
        height: 65px;
        padding-left: 50px;
        border-radius: 50px;
        border: 1px solid #b6b6b6;
    }
    &__input {
        outline: none;
        border: none;
        width: 100%;
        height: 100%;
        background: transparent;
        font-size: 18px;
    }
    &__input-pref {
        position: absolute;
        top: 47%;
        transform: translateY(-50%);
        font-size: 18px;
        line-height: 1.5;
        left: 22px;
    }
    &__btn {
        margin-top: 30px;
        height: 65px;
        max-width: 288px;
        width: 100%;
    }
    &__title {
        font-size: 36px;
        line-height: 1.3;
        color: #000;
    }
    &__text {
        font-size: 18px;
        line-height: 1.5;
        margin-bottom: 40px;
        width: 90%;
        &:last-child {
            margin-bottom: 0;
        }
    }
}
.footer {
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    background: #000;
    align-items: center;
    &__nav {
        display: flex;
        justify-content: center;
    }
    &__nav-link {
        font-size: 14px;
        line-height: 2;
        margin-right: 40px;
        color: #d2ae6d;
        text-decoration: none;
        text-transform: uppercase;
        &::after {
            content: "";
            position: absolute;
            display: block;
            width: 100%;
            height: 1px;
            background: #d2ae6d;
            opacity: 0;
            top: 100%;
            left: 0;
            transition: opacity .2s linear;
        }
        &:hover {
            &::after {
            opacity: 1;
            }
        }
    }
    &__logo {
        margin: 55px 0 25px;
    }
    &__tel {
        font-size: 30px;
        font-weight: 400;
        color: #d2ae6d;
        text-decoration: none;
        margin-bottom: 25px;
    }
    &__text {
        font-size: 14px;
        color: #d2ae6d;
        text-transform: uppercase;
    }
}