@font-face {
  font-family: 'Gilroy';
  src: url("../assets/fonts/Gilroy-Regular.eot");
  src: url("../assets/fonts/Gilroy-Regular.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Gilroy-Regular.woff") format("woff"), url("../assets/fonts/Gilroy-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url("../assets/fonts/Gilroy-Bold.eot");
  src: url("../assets/fonts/Gilroy-Bold.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Gilroy-Bold.woff") format("woff"), url("../assets/fonts/Gilroy-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url("../assets/fonts/Gilroy-Heavy.eot");
  src: url("../assets/fonts/Gilroy-Heavy.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Gilroy-Heavy.woff") format("woff"), url("../assets/fonts/Gilroy-Heavy.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

body {
  font-family: 'Gilroy';
  font-weight: 400;
  margin: 0;
  font-size: 32px;
  color: #000;
}

*, *::after, *::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 1200px;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}

.header {
  background: #000;
  padding: 15px 0;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 11% 0 0;
}

.nav__link {
  font-size: 14px;
  line-height: 2;
  margin-right: 40px;
  color: #d2ae6d;
  text-decoration: none;
  text-transform: uppercase;
  position: relative;
}

.nav__link::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 1px;
  background: #d2ae6d;
  opacity: 0;
  top: 100%;
  left: 0;
  -webkit-transition: opacity .2s linear;
  transition: opacity .2s linear;
}

.nav__link:hover::after {
  opacity: 1;
}

.nav__link--tel {
  margin: 0;
}

.intro {
  padding: 45px 0;
  background: url(../assets/img/intro-bg.png) center/cover no-repeat;
}

.intro__inner {
  text-align: center;
}

.intro__logo {
  display: block;
  margin: 0 auto 5px auto;
}

.intro__title {
  font-size: 58px;
  font-weight: 900;
  color: #fff;
}

.intro__subtitle {
  font-size: 25px;
  background: #000;
  color: #fff;
  max-width: 590px;
  width: 100%;
  margin: 5px auto;
  padding: 3px 0;
}

.intro__desc {
  color: #d2ae6d;
  font-size: 18px;
}

.intro__text {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  font-size: 18px;
  background: #fff;
  padding: 45px 80px;
  border: 15px solid #ddcda5;
  position: relative;
  width: 75%;
  margin: 0 auto;
  bottom: -150px;
  line-height: 30px;
}

.intro__text span {
  font-size: 58px;
}

.title {
  font-weight: 700;
  color: #000;
  line-height: 1.4;
}

.subtitle {
  font-size: 18px;
  line-height: 1.5;
  color: #000;
}

.demo {
  padding: 220px 0 125px;
}

.demo__title {
  margin-bottom: 35px;
}

.demo__subtitle {
  margin-bottom: 80px;
}

.demo__col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0 50px;
  margin-bottom: 100px;
}

.demo__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 48%;
}

.demo__name {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 40px;
}

.demo__name--mb {
  margin-bottom: 30px;
}

.demo__desc {
  font-size: 16px;
  line-height: 1.7;
}

.demo__desc--mb {
  margin-bottom: 30px;
}

.demo__img {
  width: 48%;
}

.demo__box {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  font-size: 18px;
  background: #fff;
  padding: 45px 80px;
  border: 15px solid #ddcda5;
  width: 75%;
  margin: 0 auto;
  line-height: 30px;
  margin-bottom: 100px;
}

.demo__items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  margin-top: 70px;
  gap: 33px 30px;
}

.demo__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 40px;
  background: #f0f0f0;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.demo__item-img {
  margin-right: 35px;
}

.demo__item-text {
  font-size: 18px;
  line-height: 1.5;
}

.btn {
  border-radius: 50px;
  min-width: 150px;
  width: 100%;
  border: 1px solid #d2ae6d;
  font-size: 16px;
  line-height: 2.4;
  cursor: pointer;
}

.btn--white {
  background: #fff;
  margin-right: 15px;
}

.btn--brown {
  background: #d2ae6d;
  border: none;
}

.works {
  padding: 75px 0 100px;
  background: #f0f0f0;
}

.works__title {
  margin-bottom: 30px;
}

.works__subtitle {
  margin-bottom: 50px;
}

.works__head {
  background: #fff;
  padding: 20px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.works__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.works__col {
  margin-bottom: 25px;
}

.works__col:last-child {
  margin-bottom: 0;
}

.works__cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.works__item {
  padding: 20px;
  background: #b6b6b6;
  width: 50%;
}

.works__item--brown {
  background: #ddcda5;
}

.works__img {
  max-width: 100%;
  width: 100%;
}

.works__item-name {
  color: #fff;
  text-align: center;
  font-weight: 700;
  font-size: 24px;
  padding: 5px 0 25px;
  text-transform: uppercase;
}

.wedo {
  padding: 110px 0 105px;
  background: url(../assets/img/wedo-bg.png);
}

.wedo__title {
  color: #fff;
  font-weight: 700;
  font-size: 48px;
  line-height: 1.2;
  margin-bottom: 65px;
}

.wedo__cont {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 60px 60px;
}

.wedo__item {
  background: transparent;
  padding: 60px;
  border: 1px solid #fff;
}

.wedo__text {
  color: #fff;
  font-size: 24px;
  line-height: 1.3;
  margin-bottom: 35px;
}

.wedo__btn {
  max-width: 150px;
  width: 100%;
}

.portfolio {
  padding: 100px 0;
}

.portfolio__title {
  font-weight: 700;
  font-size: 48px;
  line-height: 1.2;
  color: #000;
  margin-bottom: 100px;
}

.portfolio__cont {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  gap: 30px 30px;
}

.portfolio__item {
  position: relative;
}

.portfolio__item--1 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: 1 / 1 / 3 / 3;
}

.portfolio__item--2 {
  -ms-grid-row: 3;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: 3 / 1 / 5 / 5;
}

.portfolio__item:hover .portfolio__text {
  opacity: 1;
}

.portfolio__text {
  position: absolute;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  font-weight: 700;
  font-size: 32px;
  color: #fff;
  height: 15%;
  width: 100%;
  padding: 0 0 0 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  opacity: 0;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}

.portfolio__text--small {
  font-size: 24px;
  padding-left: 25px;
  padding-right: 25px;
  min-height: 25%;
}

.portfolio__img {
  max-width: 100%;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
/*# sourceMappingURL=style.css.map */